.AppLink{
    color: var(--primary-color);
}

.primary{
    color: var(--primary-color);
}

.secondary{
    color: var(--inverted-primary-color);
}

.clear {
    text-decoration: none;
    color: var(--font-color);
    font-weight: 400;
    line-height: 1.75rem;
}